<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre mot de passe</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Vous avez demandé une réinitialisation de votre mot de passe pour l'adresse <strong>{{ user_email }}</strong>.</p>
    <p>Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>
    <p>
        <a href="{{ reset_link }}">{{ reset_link }}</a>
    </p>
    <p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>
    <p>Merci,</p>
    <p>Team Tutorials ces gros BG</p>
</body>
</html>
